/Project01/Project01.zip
/Project01/Project01.iml
/Project01/docs/
/Project01/out/
/Project01/.idea/

/Project02/.idea/
/Project02/Project2.zip
/Project02/Project02.iml
/Project02/out/


/.idea/
/out/
